* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #222222;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  background-image: url(./img/ramen-bowl.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-content {
  display: flex;
  flex-direction: column;
  width: 980px;
  margin-top: 10px;
}

.nav-group {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "Great Vibes", cursive;
  color: white;
  font-size: 2.5rem;
}

nav {
  display: flex;
}

.nav-item {
  color: white;
  font-weight: bolder;
  padding: 20px 30px;
  transition: 0.3s;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
}

.hero-text {
  align-self: center;
  font-family: "Great Vibes", cursive;
  color: white;
  font-size: 4rem;
  margin-top: 100px;
}

.hero-sub-text {
  align-self: center;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 100px;
}

.content {
  background-color: bisque;
}

footer {
  position: relative;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.made-by {
  position: relative;
  color: #807d7a;
  z-index: 1;
}

footer::before {
  position: absolute;
  content: "";
  background-image: url(./img/norse-runes.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
  z-index: 0;
}
