* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #222222;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  background-image: url(./img/ramen-bowl.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-content {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin-top: 10px;
}

.nav-group {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.logo {
  background-repeat: no-repeat;
  height: 100px;
  width: auto;
}

.logo-title {
  position: absolute;
  font-family: "Great Vibes", cursive;
  font-weight: 100;
  color: white;
  font-size: 1.5rem;
  top: 100px;
  left: 0px;
}

nav {
  display: flex;
}

.nav-item {
  height: 60px;
  color: white;
  padding: 20px 30px;
  transition: 0.3s;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
}

.hero-text {
  align-self: center;
  font-family: "Great Vibes", cursive;
  font-weight: 100;
  color: white;
  font-size: 4rem;
  margin-top: 100px;
}

.hero-sub-text {
  align-self: center;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.cutlery {
  align-self: center;
  width: 200px;
  height: auto;
  margin-bottom: 100px;
}

.content {
  background-color: white;
}

.welcome-wrap {
  display: flex;
  justify-content: center;
  background-image: url(./img/wood-texture-light.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-content {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.welcome-text-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.welcome-title {
  font-family: "Great Vibes", cursive;
  font-weight: 100;
  font-size: 2rem;
  line-height: 0.7;
}

.welcome-sub {
  font-size: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #c2a15b;
  margin-bottom: 20px;
}

.welcome-story {
  text-align: center;
}

.welcome-image {
  height: 300px;
  width: auto;
  margin: 50px;
}

footer {
  position: relative;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.made-by {
  position: relative;
  color: #807d7a;
  z-index: 1;
}

footer::before {
  position: absolute;
  content: "";
  background-image: url(./img/norse-runes.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
  z-index: 0;
}
