* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #222222;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  background-image: url(./img/steak.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-content {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin-top: 10px;
}

.nav-group {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.logo {
  background-repeat: no-repeat;
  height: 100px;
  width: auto;
}

.logo-title {
  position: absolute;
  font-family: "Great Vibes", cursive;
  font-weight: 100;
  color: white;
  font-size: 1.5rem;
  top: 100px;
  left: 0px;
}

nav {
  display: flex;
  margin-left: 20px;
}

.nav-item {
  cursor: pointer;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px 30px;
  transition: 0.3s;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
}

.hero-text {
  align-self: center;
  font-family: "Great Vibes", cursive;
  font-weight: 100;
  color: white;
  font-size: 4rem;
  margin-top: 100px;
}

.hero-sub-text {
  align-self: center;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.cutlery {
  align-self: center;
  width: 200px;
  height: auto;
  margin-bottom: 100px;
}

.content {
  background-color: white;
}

.welcome-wrap {
  display: flex;
  justify-content: center;
  background-image: url(./img/wood-texture-light.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-content {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.welcome-text-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.welcome-title {
  font-family: "Great Vibes", cursive;
  font-weight: 100;
  font-size: 2rem;
  line-height: 0.7;
}

.welcome-sub {
  font-size: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #c2a15b;
  margin-bottom: 20px;
}

.welcome-story {
  text-align: center;
}

.welcome-image {
  height: 300px;
  width: auto;
  margin: 50px;
}

.menu-wrap {
  display: flex;
  justify-content: center;
  background-image: url(./img/wood-texture-light.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-content {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.menu-title-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-title {
  font-family: "Great Vibes", cursive;
  font-weight: 100;
  font-size: 2rem;
  line-height: 0.7;
}

.menu-sub {
  font-size: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #c2a15b;
  margin-bottom: 50px;
}

.menu-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  column-gap: 50px;
}

.food-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.food-name {
  font-weight: bolder;
}

.food-price {
  font-weight: bolder;
}

.dessert-wrap {
  display: flex;
  justify-content: center;
  background-image: url(./img/dessert.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dessert-content {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.dessert-title {
  font-family: "Great Vibes", cursive;
  font-weight: 100;
  font-size: 2rem;
  color: white;
  text-shadow: 1px 1px #000000;
  line-height: 0.7;
}

.dessert-sub-title {
  font-size: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #c2a15b;
  text-shadow: 1px 1px #000000;
  margin-bottom: 50px;
}

.dessert-menu {
  color: white;
}

.drink-wrap {
  display: flex;
  justify-content: center;
  background-image: url(./img/wood-texture-light.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.drink-content {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.drink-title {
  font-family: "Great Vibes", cursive;
  font-weight: 100;
  font-size: 2rem;
  line-height: 0.7;
}

.drink-sub-title {
  font-size: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #c2a15b;
  margin-bottom: 50px;
}

.booking-wrap {
  display: flex;
  justify-content: center;
  background-image: url(./img/wood-texture-light.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.booking-content {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.booking-title {
  font-family: "Great Vibes", cursive;
  font-weight: 100;
  font-size: 2rem;
  line-height: 0.7;
}

.booking-sub-title {
  font-size: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #c2a15b;
  margin-bottom: 50px;
}

.booking-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.booking-input {
  width: 300px;
  height: 2rem;
  outline: none;
  border: none;
  border-left: 5px solid #c2a15b;
  margin-bottom: 20px;
}

.booking-input:nth-of-type(4) {
  height: 4rem;
}

.booking-button {
  cursor: pointer;
  font-weight: bolder;
  background-color: #c2a15b;
  border: none;
  width: 300px;
  padding: 10px 0px;
  transition: 0.3s;
}

.booking-button:hover {
  background-color: #c4ff55;
}

footer {
  background-image: url(./img/norse-runes.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.project-content {
  width: 1000px;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}

.project-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  color: #807d7a;
}

.madeBy {
  font-family: "Great Vibes", cursive;
  font-weight: 100;
  font-size: 2rem;
  color: white;
}

.project-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.github-button {
  display: block;
  background-color: #c2a15b;
  color: black;
  width: 200px;
  padding: 10px 0px;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
}

.github-button:hover {
  background-color: #c4ff55;
}
